.content img{
    height:200px;
    width:250px;
}

.content .navBar{
    width:40%;
    margin: 0 auto;
    text-align: center;
}

.content .navBar .nav span{
    margin-right: 25px;
}
.content .navBar .nav span:hover{
    font-size:20px;
    font-weight:bold;
    color:#fff;
}


.content .mainCon{
    display: flex;
    justify-content: space-between;
    justify-items:center;
    text-align:left;
    width:55%;
    margin: 50px auto auto auto;
}


.content .product img{
    height:500px;
    width:500px;
}

.content .prodD{
    padding-left:50px;
}
.content .prodD h1{
    font-size:25px;
}
.content .prodD h2{
    font-size:45px;
    font-weight:bolder;
    margin: 15px 0px 12px 0px;
}

.content label{
    font-size: 20px;
}

.content .prodD .sizes{
    margin-top: 10px;
    width:40%;
    height:30px;
}
.content .prodD .colors{
    margin: 10px 0px 10px 0px;
    width:40%;
    height:30px;
}

.content .prodD input{
    width:100%;
    margin: 15px auto;
    height:40px;
    font-weight: bold;
    font-size:18px;
}
